h2{

    color: hotpink;
}
body{


}
.content {
    position: absolute;
    width: 100%;
    height: 100%;
}

#gridItemContainer {
background-color: silver;
text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 5px;
}
/*Squares*/
#item_one {

    display: inline-block;
   border: 5px solid black;
  padding: 80px;

}
/*Mouse over events*/
#item_one:hover{

 background-size: cover;
    background-image: url("https://pbs.twimg.com/profile_images/700841686365175809/j85laibY.jpg");
}
#item_two {
    display: inline-block;
    border: 5px solid black;
    padding: 80px;
}
#item_two:hover{

    background-size: cover;
    background-image: url("https://pbs.twimg.com/profile_images/700841686365175809/j85laibY.jpg");
}

#item_three {
    display: inline-block;
    border: 5px solid black;
    padding: 80px;
}

#item_three:hover{

    background-size: cover;
    background-image: url("https://pbs.twimg.com/profile_images/700841686365175809/j85laibY.jpg");
}
#item_four {
    display: inline-block;
    border: 5px solid black;
    padding: 80px;
}
#item_four:hover{

    background-size: cover;
    background-image: url("https://pbs.twimg.com/profile_images/700841686365175809/j85laibY.jpg");
}

#item_five {
    display: inline-block;
    border: 5px solid black;
    padding: 80px;
}
#item_five:hover{

    background-size: cover;
    background-image: url("https://pbs.twimg.com/profile_images/700841686365175809/j85laibY.jpg");
}

#item_six {
    display: inline-block;
    border: 5px solid black;
    padding: 80px;
}
#item_six:hover{

    background-size: cover;
    background-image: url("https://pbs.twimg.com/profile_images/700841686365175809/j85laibY.jpg");
}

#item_seven {
    display: inline-block;
    border: 5px solid black;
    padding: 80px;
}
#item_seven:hover{

    background-size: cover;
    background-image: url("https://pbs.twimg.com/profile_images/700841686365175809/j85laibY.jpg");
}
#item_eight{
    display: inline-block;
    border: 5px solid black;
    padding: 80px;
}
#item_eight:hover{

    background-size: cover;
    background-image: url("https://pbs.twimg.com/profile_images/700841686365175809/j85laibY.jpg");
}
#item_nine{
    display: inline-block;
    border: 5px solid black;
    padding: 80px;
}
#item_nine:hover{

    background-size: cover;
    background-image: url("https://pbs.twimg.com/profile_images/700841686365175809/j85laibY.jpg");
}
/*.item {*/
/*    !*background: black;*!*/
/*    display: inline-block;*/
/*    border: 5px solid black;*/
/*}*/
