h2{

    color: hotpink;
}
body{


}
.content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.gridItemContainer {
text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 5px;
}
.item_one {
    display: inline-block;
   border: 5px solid black;
  padding: 80px;

}
.item_two {
    display: inline-block;
    border: 5px solid black;
    padding: 80px;
}

.item_three {
    display: inline-block;
    border: 5px solid black;
    padding: 80px;
}

.item_four {
    display: inline-block;
    border: 5px solid black;
    padding: 80px;
}

.item_five {
    display: inline-block;
    border: 5px solid black;
    padding: 80px;
}

.item_six {
    display: inline-block;
    border: 5px solid black;
    padding: 80px;
}

.item_seven {
    display: inline-block;
    border: 5px solid black;
    padding: 80px;
}
.item_eight{
    display: inline-block;
    border: 5px solid black;
    padding: 80px;
}
.item_nine{
    display: inline-block;
    border: 5px solid black;
    padding: 80px;
}
/*.item {*/
/*    !*background: black;*!*/
/*    display: inline-block;*/
/*    border: 5px solid black;*/
/*}*/
